<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if family_id %}
        <p>You're looking at Family {{family_id}}</p>
    {% else %}
        <p>No Family found.</p>
    {% endif %}    
</body>
</html>