<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ family.full_name}} - {{family.choice_set.all}}</h1>
    <ul>
    {% for member in family.familymember_set.all %}
        <li>{{ member.full_name }}</li>
    {% endfor %}
    </ul>  
</body>
</html>