<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if latest_family_list %}
    <ul>
        {% for family in latest_family_list %}
            <li>{{family.nickname}}<a href="/mainEarnable/{{ family.id }}/">{{ family.full_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Families are available.</p>
{% endif %}    
</body>
</html>